<footer>
        
    <!--  ==========  -->
    <!--  = Upper footer =  -->
    <!--  ==========  -->
    <div class="foot-light">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h2 class="pacifico">clothly &nbsp; <img src="/assets/images/webmarket.png" alt="Webmarket Cart" class="align-baseline" /></h2>
                   لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که   </div>
                <div class="span4">
                    <div class="main-titles lined">
                        <h3 class="title">تلگرام</h3>
                    </div>
                    <div class="bordered">
                        <div class="fill-iframe">
                            <div class="fb-like-box" data-href="https://www.facebook.com/ProteusNet" data-width="292" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">عضویت</span> در خبرنامه</h3>
                    </div>
                    <p>این بخشی از یک نوشتار آزمایشی صرفا برای پر کردن این ناحیه است.</p>
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                
                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </div> <!-- /upper footer -->
    
    <!--  ==========  -->
    <!--  = Middle footer =  -->
    <!--  ==========  -->
    <div class="foot-dark">
        <div class="container">
            <div class="row">
                
                <!--  ==========  -->
                <!--  = Menu 1 =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">ردیف</span> اصلی</h3>
                    </div>
                    <ul class="nav bold">
                        <li><a href="#">خانه</a></li>
                        <li><a href="#">صفحات</a></li>
                        <li><a href="#">درباره ما</a></li>
                      
                        <li><a href="#">گالری</a></li>
                        <li><a href="#">تماس با ما</a></li>
                    </ul>
                </div>
                
                <!--  ==========  -->
                <!--  = Menu 2 =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">دومین</span> ردیف</h3>
                    </div>
                    <ul class="nav">
                        <li><a href="#">پیوند نوشتار آزمایشی</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                        <li><a href="#">برند ها</a></li>
                        <li><a href="#">مشاهده آخرین پرسش ها</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                    </ul>
                </div>
                
                <!--  ==========  -->
                <!--  = Menu 3 =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">سومین</span> ردیف</h3>
                    </div>
                    <ul class="nav">
                        <li><a href="#">پیوند نوشتار آزمایشی</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                        <li><a href="#">برند ها</a></li>
                        <li><a href="#">مشاهده آخرین پرسش ها</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                    </ul>
                </div>
                
                <!--  ==========  -->
                <!--  = Menu 4 =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">چهارمین</span> ردیف</h3>
                    </div>
                    <ul class="nav">
                        <li><a href="#">پیوند نوشتار آزمایشی</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                        <li><a href="#">برند ها</a></li>
                        <li><a href="#">مشاهده آخرین پرسش ها</a></li>
                        <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="cpContainter">
        <div class="mcopyright">
          <div class="inside"><a href="" target="_blank" title=" ارتباط آنلاین"> ارتباط آنلاین </a></div>
        </div>
        </div>
        
    </div> <!-- /middle footer -->
    
    <!--  ==========  -->
    <!--  = Bottom Footer =  -->
    <!--  ==========  -->
    <div class="foot-last">
        <a href="#" id="toTheTop">
            <span class="icon-chevron-up"></span>
        </a>
        <div class="container">
            <div class="row">
                <div class="span6">
                    &copy; Copyright 2023. Images of products  .
                </div>
                <div class="span6">
                    <div class="pull-right">   <a href=""> </a></div>
                </div>
            </div>
        </div>
    </div> <!-- /bottom footer -->
</footer> <!-- /footer -->
