<header id="header">
    <div class="container">
        <div class="row">

            <!--  ==========  -->
            <!--  = Logo =  -->
            <!--  ==========  -->
            <div class="span7">
                <a class="brand" routerLink="">
                    <img src="/assets/images/logo.png" alt="Webmarket Logo" width="200" height="200" />
                   <!--  <span class="">clothly</span> -->
                    <span class="tagline" *ngIf="user!=null">  {{user.firstName}} عزیر خوش آمدید  </span>
                </a>
            </div>

            <!--  ==========  -->
            <!--  = Social Icons =  -->
            <!--  ==========  -->
            <div class="span5">
                <div class="topmost-line">
                    <div class="lang-currency">
                   
                    
                    </div>
                </div>
                <div class="top-right">
             
                    <div class="register" *ngIf="user ==null">
                        <a routerLink="login" role="button" data-toggle="modal">ورود</a> یا
                        <a routerLink="register" role="button" data-toggle="modal">ثبت نام</a>
                    </div>
                    <div class="register" *ngIf="user !=null">
                        <a routerLink="user/edit" role="button" data-toggle="modal">پنل کاربری</a> 
                        /&nbsp;
                        <a routerLink="" role="button" (click)="logOutUser()" data-toggle="modal">خروج</a> 
                    </div>
                </div>
            </div> <!-- /social icons -->
        </div>
    </div>
</header>

<!--  ==========  -->
<!--  = Main Menu / navbar =  -->
<!--  ==========  -->
<div class="navbar navbar-static-top" id="stickyNavbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
        
                  
                    <!--  ==========  -->
                    <!--  = Menu =  -->
                    <!--  ==========  -->
                    <div class="nav-collapse collapse">
                        <ul class="nav" id="mainNavigation">
                            <li class="dropdown" >
                                <a href="index.html" class="dropdown-toggle"> خانه <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown active">
                                        <a href=""><i class="icon-caret-left pull-right visible-desktop"></i>
                                            رنگ های پوسته</a>
                                        <ul class="dropdown-menu">
                                            <li class="active"><a >پوسته پیش فرض</a></li>
                                            <li>
                                                <a>
                                                    <label >
                                                        <input type="checkbox" (change)="themeToggle($event)" 
                                                        [checked]="IstSwitcher == 1"
                                                        id="dark-mode">
                                                        <span>پوسته سبز</span>
                                                    </label>
                                                </a>
                                                </li>
                                            <li>
                                                <a>
                                                    <label >
                                                        <input type="checkbox" (change)="themeToggle($event)" 
                                                        [checked]="IstSwitcher == 2"
                                                        id="dark-mode2">
                                                        <span>پوسته خاکستری</span>
                                                    </label>
                                                </a>
                                                </li>
                                    
                                          
                                        </ul>
                                    </li>
                          
                                </ul>
                            </li>

                            
                            <li class="dropdown">
                                <a routerLink="products" routerLinkActive="active"  class="dropdown-toggle"> محصولات <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                
                                    <li><a href=""> کیف</a></li>
                                    <li><a href=""> کفش</a></li>
                                    <li><a href=""> دیجیتال</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle">بلاگ <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="">تک نوشته</a></li>
                                    <li><a href="">بلاگ 1</a></li>
                                    <li><a href="">بلاگ 2</a></li>
                                    <li><a href="">بلاگ 3</a></li>
                             
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle">امکانات <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="">آیکن ها</a></li>
                                    <li class="dropdown">
                                        <a href="" class="dropdown-toggle"><i
                                                class="icon-caret-left pull-right visible-desktop"></i> همه امکانات</a>
                                        <ul class="dropdown-menu">
                                            <li><a href=""> امکانات آزمایشی 1</a></li>
                                            <li><a href="">امکانات آزمایشی 2</a></li>
                                            <li><a href=""> امکانات آزمایشی 3</a></li>
                                      
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a routerLink="about-us">درباره ما</a></li>
                            <li><a routerLink="contact-us">تماس با ما</a></li>
                        </ul>

                        <!--  ==========  -->
                        <!--  = Search form =  -->
                        <!--  ==========  -->
                        <form class="navbar-form pull-right" action="#" method="get">
                            <button type="submit"><span class="icon-search"></span></button>
                            <input type="text" class="span1" name="search"  [(ngModel)]="searchStr"
                              id="navSearchInput"(keyup.enter)="search()">
                         
                        
                        </form>
                    </div><!-- /.nav-collapse -->
                </div>

<app-header-cart ></app-header-cart>

            </div>
        </div>
    </div>
</div> <!-- /main menu -->