                <!--  ==========  -->
                <!--  = Cart =  -->
                <!--  ==========  -->
                <div class="span3" routerLink="user/cart">
                    <div class="cart-container" id="cartContainer">
                        <div class="cart" >
                            <p class="items">سبد خرید <span class="dark-clr"*ngIf="details">({{details.length}})</span></p>
                            <p class="dark-clr hidden-tablet">{{totalPrice}} تومان</p>
                            <a  class="btn btn-danger">
                                <!-- <span class="icon icons-cart"></span> -->
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="open-panel">

                            <div class="item-in-cart clearfix" *ngFor="let detail of details">
                                <div class="image">
                                    <img [src]="imagepath+detail.imageName" width="124" height="124"
                                        alt="cart item" />
                                </div>
                                <div class="desc">
                                    <strong><a href="product.html" class="longtext"> {{detail.title}}</a></strong>
                                    <span class="light-clr qty">
                                        تعداد : {{detail.count}}
                                        &nbsp;
                                        <a (click)="removeOrderDetail(detail.id)" class="icon-remove-sign" title="Remove Item"></a>
                                    </span>
                                </div>
                                <div class="price">
                                    <strong> {{detail.price}} تومان</strong>
                                </div>
                            </div>

 

                            <div class="summary">
                                <div class="line">
                                    <div class="row-fluid">
                                        <div class="span6 align-ri  ght">0 تومان</div>
                                        <div class="span6">هزینه ارسال :</div>
                                    </div>
                                </div>
                                <div class="line">
                                    <div class="row-fluid">
                                        <div class="span6 align-right size-16">{{totalPrice}} تومان</div>
                                        <div class="span6">جمع کل :</div>
                                    </div>
                                </div>
                            </div>
                            <div class="proceed">
                                <a routerLink="user/cart" class="btn btn-danger pull-right bold higher">تصویه حساب
                                    <i class="icon-shopping-cart"></i></a>
                                <small>هزینه ارسال بر اساس منطقه جغرافیایی محاسبه میشود. <a href="#">اطلاعات
                                        بیشتر</a></small>
                            </div>
                        </div>
                    </div>
                </div> <!-- /cart -->